.spiderman-dev {
    background-image: url('../Illustration/img5.png');      
    background-repeat: no-repeat;
    background-color: #114C92;
    height: 600px;
}

@media (min-width: 576px) { 
    
    .spiderman {
        max-height: 93vh;
        background-size: contain;
        background-repeat: no-repeat;
        display: flow-root;
    }
}




@media (max-width: 575.98px) { 
    nav {
        background: black;
    }
    
    .descrip2 {
        margin: 15% 12px;
    }
    .spiderman {
        min-height: 204px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flow-root;
        width: 100%;
    }
    .descrip {
        display : none;
    }
    
}



@media (min-width: 576px) and (max-width: 1399.98px) {
    
    .descrip {
        margin: 30% 12px;
    }
    /* .spid-cont h1 {
        font-family: 'font-2';
        font-size: 42px;
        color: var(--primary-white);
    }
    .spid-cont h2 {
        font-family: 'font-1B';
        font-size: 14px;
        color: var(--primary-white);
        margin-top: 20px;
    } */
    
    
}

 @media (min-width: 1400px) { 
    .descrip {
        margin: 30% 12px;
    }
    .spiderman {
        min-height: 890px;
        background-size: cover;
        display: flex;
        align-items: center;
    }
    /* .spid-cont h1 {
        font-family: 'font-2';
        font-size: 42px;
        color: var(--primary-white);
    }
    .spid-cont h2 {
        font-family: 'font-1B';
        font-size: 14px;
        color: var(--primary-white);
        margin-top: 20px;
    } */
    
    .boutons {
        margin-top: 20px;
    }
    .descrip2 {
        display : none;
    }
    .btn-1, .btn-3 {
        color: var(--primary-red);
        font-family: 'font-1B';
        font-size: 16px;
        border: 1px solid white;
        padding: 7px;
        width: 200px;
    }

    .btn-2 {
        color: var(--primary-white);
        font-family: 'font-1B';
        font-size: 16px;
        border: 1px solid white;
        padding: 7px;
        width: 230px;
        margin-left: 15px;
    }
}


@media (min-width: 576px) { 
    .descrip2 {
        display : none;
    }
}
@media (max-width: 575.98px) {     
    .descrip2 {
        margin: 15% 12px;
    }
}
@media (min-width: 576px) and (max-width: 1399.98px) {
    
    .descrip {
        margin: 30% 12px;
    }
}
@media (min-width: 1400px) { 
    .descrip {
        margin: 30% 12px;
    }
    .spiderman {
    
    .descrip2 {
        display : none;
    }
}