*{
    margin:0;
    padding:0;
}
/* Typographie */

@font-face {
    font-family: "font-1R";
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "font-1B";
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "font-1SB";
    src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "font-1M";
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "font-2";
    src: url('../font/Far-FromHomecomingUpdated.otf') format('woff2');
}


h2 {
    font-family: 'font-1B';
    font-size: 2.5vw;
    color: var(--primary-white);
}
h3 {
    font-family: 'font-1SM';
    font-weight: bold;
    font-size: 2vw;
}
h4 {
    font-family: 'font-1M';
    font-size: 1.5vw;
}

p {
    font-family: 'font-1R';
    font-size: 1vw;
}

/* Couleurs */

:root {
    --primary-red : #B11313;
    --primary-yellow : #F1C530;
    --primary-dark-blue : #114C92;
    --primary-black : #000000;
    --primary-white : #FFFFFF;
}
/* ---------------------------------CSS : PAGE HOME (ligne 58 à 665)----------------------------------- */
/* --BARRE DE NAVIGATION-- */
nav {
    background-color: var(--primary-red);
    font-family: 'font-1R';
}
@media (max-width: 576px) { 
    nav {
        background-color: var(--primary-black);
    }
}
/* Partie logo */

#Logo-SAYNA {
    width: 3vw; 
    height: 3.5vw;
}
@media (max-width: 576px) { 
    #Logo-SAYNA {
        width: 10vw;
        height: 10vw;
    }
}
#Logo-X {
    width: 1.5vw; 
    height: 1.5vw;
}
@media (max-width: 576px) { 
    #Logo-X{
        width: 4vw;
        height: 4vw;
    }
}
#Logo-Marvel {
        width: 10vw;
        height: 4vw;
}
@media (max-width: 576px) { 
    #Logo-Marvel {
        width: 28vw;
        height: 11vw;
    }
}

/* Partie boutons de navigation */
    
.navig-boutons{
    display: flex;
}
.text-white {
    font-size: 1.7vw;
}

@media screen and (max-width: 576px) {
    .navig-boutons{
        display: none;
    }
}
/* PARTIE ROUGE */
/* Section rouge : part1 */
/* SPIDERMAN */
/* REGLAGE RESPONSIVE BACKGROUND IMAGE*/

.spid-cont {
    background-color: var(--primary-red);
    background-image: url(../Illustration/img1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* LES TITRES */

.spid-cont h1 {
    font-family: 'font-2';
    font-size: 5vw;
    color: var(--primary-white);
}
@media (max-width: 576px) { 
    .spid-cont h1 {
        font-size: 6vw;
    }
}
.spid-cont h2 {
    font-family: 'font-1B';
    font-size: 1.7vw;
    color: var(--primary-white);
    margin-top: 3%;
}
/* REGLAGE RESPONSIVE CONTENU */
.descrip, .descrip2 {
    margin: 15% 2%;
}
@media (max-width: 575.98px) { 
    .descrip {
        display : none;
    }
    
}
@media (min-width: 576px) {
    
    .descrip2 {
        display: none;
    }
}

/* LES BOUTONS */

.boutons {
    margin-top: 12%;
}
.btn-1 p,.btn-2 p {
    font-size: 1.5vw;
    font-family: 'font-1B';
}
.btn-1 {
    color: var(--primary-red);
    font-family: 'font-1B';
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
    font-weight: 100;
    cursor: pointer;
    background-color: var(--primary-white);
    margin: 10px 10px 10px 0px;
    font-size: 1vw;
}

.btn-2 {
    color: var(--primary-white);
    font-family: 'font-1B';
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.btn-1:hover, .btn-2:hover{
    color: var(--primary-white);
    background: var(--primary-red);
    border: none;
}

@media screen and (max-width: 576px) {
    .boutons {
        margin-top: 20px;
        font-size: 1vw;
    }
    
    .btn-1 {
        color: var(--primary-red);
        border-radius: 14px;
        padding: 7px;
        width: 80px;
    }
    .btn-2 {
        color: var(--primary-white);
        border-radius: 14px;
        padding: 7px;
        min-width: 80px;
    }
    
}
/* PARTIE ROUGE */
/* Section rouge : part2 */
/*LES SPIDERMANS AU CINE*/
.spiderman-cine {
    background-color: var(--primary-red);
    background-size: 100% 100%;
}
/* LES TITRES */
.spiderman-cine h2 {
    font-family: 'font-2';
    color: var(--primary-white);
}
.spiderman-cine p {
    color: var(--primary-white);
    text-align: justify;
    font-size: 1vw;
}
/* LES CARTES */
.les-spidermans .card {
    width: 25%;
    background: transparent;
    border: none;
}
.les-spidermans .card-body {
    text-align: center;
}
.les-spidermans .card-text{
    font-size: 1.1vw;
    color: var(--primary-white);
}
/* BOUTON */
.les-spidermans .btn-1 {
    font-size: 1.1vw;
    margin: 0 0px 30px;
}
@media (max-width: 576px) {
    .les-spidermans{
        display: inline-block;
    }
    .spiderman-cine h2 {
        text-align: center;
        font-size: 4vw;
    }
    .spiderman-cine p {
        text-align: center;
        font-size: 2vw;
    }
    .les-spidermans .card {
        width: 85%;
        margin: auto;
    }
    .les-spidermans .card-text{
        font-size: 2vw;
    }
    .les-spidermans .btn-1 {
        font-size: 2vw;
        margin: 0 0px 30px;
        width: 54%;
    }
}
/* DEVIENS SPIDERMAN !  */
/* REGLAGE RESPONSIVE BACKGROUND */
.spiderman-dev {
    background-color: var(--primary-dark-blue);
    background-image: url('../Illustration/img5.png');      
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
/* CONTENU */
.spiderman-dev .dev-cont{
    margin: 5% 5% 10% 55%;
    width: 40%;
    text-align: center;
}
@media (max-width: 575.98px) {
    .spiderman-dev .dev-cont {
        margin: 9%;
        width: 85%;
    }
}
@media (min-width: 576px) and (max-width: 899.98px) {
    .spiderman-dev .dev-cont {
        margin: 5% 5% 10% 45%;
        width: 50%;
    }
}
/* TITRE */
.spiderman-dev h2{
    font-family: 'font-2';
}
@media (max-width: 576px) {
    .spiderman-dev h2{
        font-size: 4vw;
    }
}
/* PARAGRAPHE */
.spiderman-dev p{
    color: var(--primary-white);
    font-size: 1vw;
    margin: 4% auto;
}
@media (max-width: 576px) {
    .spiderman-dev p{
        font-size: 2vw;
    }
}
/* LES INPUTS */
.spiderman-dev .dev-cont .les-input {
    width: 65%;
    margin: auto;
}
.spiderman-dev .dev-cont input {
    margin-bottom: 15px;
    border-radius: 16px;
}

@media (min-width: 576px) and (max-width: 899.98px) {
    .spiderman-dev .dev-cont .les-input {
        width: 75%;
        margin: auto;
    }
}
/* BOUTON */
.spiderman-dev .dev-cont .btn-2 {
    font-size: 1vw;
    margin: 6% auto;
    width: 22%;
    font-family: 'font-1R';
}
@media (max-width: 576px) {
.spiderman-dev .dev-cont .btn-2 {
    font-size: 2vw;
    }
}
/* INSCRIPTION */

/* REGLAGE RESPONSIVE BACKGROUND*/
.spiderman-inscript {
    background-color: var(--primary-red);
    background-image: url('../Illustration/img-6.png');
    background-size: 50%;      
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
@media (max-width: 575.98px) {
    .spiderman-inscript {
        background-color: var(--primary-red);
        background-image: url(../Illustration/img6-.png);
        background-size: 31% auto;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    /* REGLAGE RESPONSIVE TITRE */
    .spiderman-inscript .inscrip-cont {
        width: 90%;
        text-align: center;
        margin-bottom: 0%;
    }
    /* REGLAGE RESPONSIVE INPUT */
    .spiderman-inscript .inscrip-cont .les-input {
        width: 77%;
        color: var(--primary-white);
        margin-top: 10%;
        justify-content: center;
        margin: 10% auto;
        margin-left: 52px;
    }
}
@media (min-width: 576px) and (max-width: 899.98px) {
    .spiderman-inscript .inscrip-cont {
        margin: 5% 45% 10% 5%;
        width: 50%;
    }
}
/* CONTENU*/
.inscrip-cont {
    margin: 0% 45% 10% 5%;
    width: 50%;
    text-align: start;
}
/* TITRE */
.inscrip-cont h2{
    font-family: 'font-2';
    font-size: 2vw;
    padding-top: 8%;
    opacity: 0.9;
    word-spacing: 7px;
    font-weight: normal;
}
@media (max-width: 576px) {
    .inscrip-cont h2{
        font-size: 4vw;
        padding-top: 4%;
    }
}
/* PARAGRAPHE */
.inscrip-cont p{
    color: var(--primary-white);
    font-family: 'font-1R';
    font-size: 1vw;
    margin-left: 5px;
    opacity: 0.6;
}
@media (max-width: 576px) {
    .inscrip-cont p{
        font-size: 2vw;
        opacity: 0.7;
        width: 95%;
        margin: 4% auto 15%;
    }
}
/* LES INPUTS */
.spiderman-inscript .inscrip-cont .les-input {
    width: 65%;
    color: var(--primary-white);
    margin-top: 10%;
}
.spiderman-inscript .inscrip-cont input {
    margin-bottom: 15px;
    border-radius: 16px;
    background-color: transparent;
    border: 1.5px solid var(--primary-white);
    width: 79%;
}
@media (max-width: 576px) {
    .spiderman-inscript .inscrip-cont input {
        width: 100%;
    }
}
.spiderman-inscript .les-input ::placeholder {
    color: var(--primary-white);
    opacity: 0.6;
    font-size: 0.8vw;
}
@media (max-width: 576px){
    .spiderman-inscript .les-input ::placeholder {
        font-size: 2.1vw;
    }
}
@media (min-width: 576px) and (max-width: 899.98px) {
    .spiderman-inscript .inscrip-cont .les-input {
        width: 75%;
    }
}
/* BOUTONS */
.inscrip-cont .btn-1{
    color: var(--primary-red);
    font-family: 'font-1B';
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
    font-weight: 100;
    cursor: pointer;
    background-color: var(--primary-white);
    margin: 5% 8%;
    font-size: 1vw;
}
@media (max-width: 576px) {
    .inscrip-cont .btn-1{
        width: auto !important;
        font-size: 2vw;
        border-radius: 30px;
        padding: 14px;
        margin-left: -13%;
        opacity: 0.7;
    }
}

/* BOUTONS CHECK BOX*/

.check-cont form {
    width: 20px;
    height: 16px;
    border: 1px solid;
}
@media (max-width: 576px) {
    /* REGLAGE CHANGEMENT EN RESPONSIVE CHECK-BOX */
    /* Remarque : ajout media queries dans le bootstrap local ligne 2503 pour enlever le radius par défaut */
    .check-cont form {
        min-width: 30px;
        min-height: 30px;
        border: 2px solid var(--primary-black);
    }
}

/* CONTENEUR DU PARAGRAPHE */
.check-cont {
    width: 58%;
}
@media (max-width: 576px) {
    /* REGLAGE RESPONSIVE ALIGNEMENT CONTENEUR DU PARAGRAPHE */
    .check-cont {
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-left: 37px;
    }
}
/* PARAGRAPHE*/
.check-cont p {
    color: var(--primary-white);
    font-family: 'font-1R';
    font-size: 1vw;
    margin-left: 13px;
    margin-bottom: 0;
}
@media (max-width: 576px){
    .check-cont p {
        font-size: 2.2vw;
        margin-left: 11px;
        text-align: left;
        opacity: 0.6;
    }
}
/* FOOTER */
footer {
    background-color: var(--primary-black);
}
/* FOOTER 1 DESKTOP */
/* BOUTONS DE NAVIGATION */
.footer-1desktop  {
    margin: 5% 0% auto;
}
.footer-1desktop  .part-1desktop a, .footer-1desktop .part-2desktop a {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1vw;
    opacity: 0.7;
}
/* INPUT DESKTOP*/

.footer-1desktop  .part-2desktop input {
    background-color: var(--primary-red);
    border-radius: 16px; 
}

.footer-1desktop  .part-2desktop input::placeholder{
    color: var(--primary-white);
    font-size: 1vw;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.footer-1mobile   .part-2mobile input {
    background-color: var(--primary-red);
    border-radius: 16px; 
    width: 100%;
    border: none;
}
.footer-1mobile   .part-2mobile input::placeholder {
    color: var(--primary-white);
    font-size: 3.5vw;
    opacity: 0.6;
    padding: 0;
    width: auto;
    /* Remarque : pour colorer le stroke = petite flèche bas, j'ai modifié la ligne 2424 dans bootstrap */
}

/* INPUT RESPONSIVE */

@media (max-width: 576px) {
    .footer-1desktop {
        display: none;
    }
    .footer-1mobile  .part-1mobile a, .footer-1mobile .part-2mobile a {
        text-decoration: none;
        color: var(--primary-white);
        font-size: 2.5vw;
        opacity: 0.7;
    }
    .footer-1mobile   .part-2mobile input {
        background-color: var(--primary-red);
        border-radius: 16px; 
        width: 80%;
    }
}

/* LOGOS */


@media (min-width: 576px) {
    .part-logomobile {
        display: none;
    }
    .footer-1mobile {
        display: none;
    }
    .footer-2mobile {
    display: none;
    }

}


/* ICONES DE RESEAUX SOCIAUX */

.rounded-circle {
    background-color: var(--primary-red);
    width: 3%;
    padding: 3px;
    margin: 0.50%;
}
@media (max-width: 576px) {
    .rounded-circle {
        background-color: var(--primary-red);
        width: 36px;
        height: 32px;
        padding: 8px;
    }
}
.footer-2desktop {
    margin: 2% auto;
    justify-content: center;
}
@media (min-width: 576px) {
    .footer-2mobile {
    display: none;
    }

}
/* TEXTE BAS DU FOOTER */
.footer-3 {
    margin: auto;
    width: auto;
    color: white;
    opacity: 0.8;
}
.footer-3 p{
    font-size: 1vw;
    opacity: 0.6;
    text-align: center;
}
@media (max-width: 576px) {
    .footer-3 p{
        font-size: 2.2vw;
        opacity: 0.8;
    }
}
/* AUDIO */
.footer-3 audio {
    height: 30px;
    width: 100%;
    margin: auto;
}
/* ---------------------------------CSS : PAGE A PROPOS----------------------------------- */
/* ---------------------------------CSS : PAGE ADVERSAIRES----------------------------------- */
/* --BARRE DE NAVIGATION-- */
.nav-adversaires {
    background-color: var(--primary-yellow);
    font-family: 'font-1R';
}
@media (max-width: 576px) { 
    .nav-adversaires {
        background-color: var(--primary-yellow);
    }
}

/* FOOTER */
.footer-adversaires {
    background-color: var(--primary-black);
}
/* FOOTER 1 DESKTOP */
/* BOUTONS DE NAVIGATION */

.footer-1desktop-adversaires  .part-1desktop-adversaires a, .footer-1desktop-adversaires .part-2desktop-adversaires a {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1vw;
    opacity: 0.9;
}

/* INPUT DESKTOP*/

.footer-1desktop-adversaires  .part-2desktop-adversaires input {
    background-color: var(--primary-dark-blue);
    border-radius: 16px; 
}

.footer-1desktop-adversaires  .part-2desktop-adversaires input::placeholder{
    color: var(--primary-white);
    font-size: 1vw;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.footer-1mobile-adversaires  .part-2mobile-adversaires input {
    background-color: var(--primary-dark-blue);
    border-radius: 16px; 
    width: 100%;
    border: none;
}
.footer-1mobile-adversaires  .part-2mobile-adversaires input::placeholder {
    color: var(--primary-white);
    font-size: 3.5vw;
    opacity: 0.6;
    padding: 0;
    width: auto;
    /* Remarque : pour colorer le stroke = petite flèche bas, j'ai modifié la ligne 2424 dans bootstrap */
}

/* INPUT RESPONSIVE */

@media (max-width: 576px) {
    .footer-1desktop-adversaires {
        display: none;
    }
    .footer-1mobile-adversaires .part-1mobile-adversaires a, .footer-1mobile-adversaires .part-2mobile-adversaires a {
        text-decoration: none;
        color: var(--primary-white);
        font-size: 2.5vw;
        opacity: 0.9;
    }
    .footer-1mobile-adversaires   .part-2mobile-adversaires input {
        background-color: var(--primary-dark-blue);
        border-radius: 16px; 
        width: 80%;
    }
}

/* LOGOS */


@media (min-width: 576px) {
    .part-logomobile-adversaires {
        display: none;
    }
    .footer-1mobile-adversaires {
        display: none;
    }
    .footer-2mobile-adversaires {
    display: none;
    }

}


/* ICONES DE RESEAUX SOCIAUX */
.footer-2desktop-adversaires {
    margin: 2% auto;
    justify-content: center;
}
@media (min-width: 576px) {
    .footer-2mobile-adversaires {
        display: none;
    }

}
.footer-2desktop-adversaires .rounded-circle {
    background-color: var(--primary-dark-blue);
    width: 3%;
    padding: 3px;
    margin: 0.50%;
}
@media (max-width: 576px) {
    .footer-2desktop-adversaires .rounded-circle {
        background-color: var(--primary-dark-blue);
        width: 36px;
        height: 32px;
        padding: 8px;
    }
}

/* ---------------------------------CSS : PAGE BONUS (ligne 668 à 718)----------------------------------- */
.heros-cont {
    background-image: url(../Illustration/img-35.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heros-cont .container {
    height: 100vh;
    padding: 47% 10% 28% 10%;
}
@media (max-width: 900px) {
    .heros-cont .container {
        height: 100vh;
        padding: 404px 35% 2% 10%;
    }
}
/* RESPONSIVE FONT H1 */
.heros-cont h1 {
    font-family: 'font-2';
    font-size: 6.5vw;
    color: var(--primary-white);
    opacity: 0.8;
}
@media (max-width: 900px) {
    .heros-cont h1 {
        font-size: 5vw;
        opacity: 0.8;
    }
}
/* VERSION DESKTOP FONT H2 */
.heros-cont .h2-desktop{
    padding-top: 7%;
    opacity: 0.8;
}
.heros-cont .h2-mobile {
    padding-top: 2%;
    font-size: 1.7vw;
    opacity: 0.8;
}
/* VERSION MOBILE FONT H2 */
@media (max-width: 900px) {
    .heros-cont .h2-desktop {
        display: none;
    }
}
@media (min-width: 900px) {
    .heros-cont .h2-mobile {
        display: none;
    }
}
/* ---------------------------------CSS : PAGE HEROS----------------------------------- */
/* --BARRE DE NAVIGATION-- */
.nav-heros {
    background-color: var(--primary-dark-blue);
    font-family: 'font-1R';
}
@media (max-width: 576px) { 
    .nav-heros {
        background-color: var(--primary-dark-blue);
    }
}
/* REGLAGE RESPONSIVE BACKGROUND IMAGE*/
/* BANNIERE 1 */
.spid-cont-heros  {
    background-image: url(../Illustration/img19.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* LES TITRES */

.spid-cont-heros h1 {
    font-family: 'font-2';
    font-size: 5vw;
    color: var(--primary-white);
}
@media (max-width: 576px) { 
    .spid-cont-heros h1 {
        font-size: 6vw;
    }
}
.spid-cont-heros h2 {
    font-family: 'font-1B';
    font-size: 1.7vw;
    color: var(--primary-white);
    margin-top: 3%;
}

/* VALEURS A DEFENDRE */
.spid-val-heros {
    background-color: var(--primary-dark-blue)
}
@media (max-width: 576px) {
    .spid-val-heros {
        display: block;
    }
}

.textes-cont-heros {
    text-align: justify;
    padding: 24px;
}

@media (max-width: 576px) {
    .textes-cont-heros{
        width: 100%;
        text-align: justify;
        padding: 0px;
    }
}

/* TITRES */
.spid-val-heros h1 {
    font-family: 'font-2';
    font-size: 2.5vw;
    color: var(--primary-white);
    opacity: 0.9;
}
@media (max-width: 576px) {
    .textes-cont-heros h1 {
        text-align: center;
        font-size: 5vw;
        width: 80%;
        margin: auto;
    }
}
.spid-val-heros h2 {
    font-family: 'font-1B';
    font-size: 1.2vw;
    color: var(--primary-white);
    opacity: 0.9;
}
@media (max-width: 576px) {
    .textes-cont-heros h2 {
        text-align: center;
        font-size: 2vw;
        margin-top: 5%;
    }
}
/* LES TEXTES */
.spid-val-heros p {
    color: var(--primary-white);
    opacity: 0.9;
}

@media (max-width: 576px) {
    .spid-val-heros p {
        font-size: 1.5vw;
    }
}
/* VIDEO */
.video-cont-heros {
    height: 46vh;
}
@media (max-width: 576px) {
    .video-cont-heros {
        width: 100%;
    }
}
.video-cont-heros iframe{
    height: 100%;
    width: 100%;
}
@media (max-width: 576px) {
    .video-cont-heros iframe{
        height: 47vh;
        width: 100%;
    }
}

/* BANNIERE 2 */
.spid-cont-heros2  {
    background-image: url(../Illustration/img20.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* LES TITRES */

.spid-cont-heros2 h1 {
    text-align: start;
    font-family: 'font-2';
    font-size: 5vw;
    color: var(--primary-white);
}
@media (max-width: 576px) { 
    .spid-cont-heros2 h1 {
        text-align: center;
        font-size: 3.5vw;
    }
}
.spid-cont-heros2 h2 {
    text-align: start;
    font-family: 'font-1B';
    font-size: 1.7vw;
    color: var(--primary-white);
    margin-top: 3%;
}
@media (max-width: 576px) { 
    .spid-cont-heros2 h2 {
        text-align: center;
    }
}
.spid-cont-heros2 .container {
    text-align: center;
}
/* CONTENU TEXTES */
.spid-cont-text-heros2 {
    background-color: var(--primary-dark-blue);
}
.spid-cont-text-heros2 .container {
    text-align: justify;
    padding: 40px;
}
@media (max-width: 576px) { 
    .spid-cont-text-heros2 {
        display: block;
        padding-bottom: 0;
    }
}
.spid-cont-text-heros2 p {
    color: var(--primary-white);
    opacity: 0.7;
}
@media (max-width: 576px) { 
    .spid-cont-text-heros2 p {
        font-size: 2vw;
    }
}
.spid-cont-text-heros2 p strong {
    opacity: 1;
}
/* FOOTER */
.footer-heros {
    background-color: var(--primary-black);
}
/* FOOTER 1 DESKTOP */
/* BOUTONS DE NAVIGATION */

.footer-1desktop-heros  .part-1desktop-heros a, .footer-1desktop-heros .part-2desktop-heros a {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1vw;
    opacity: 0.9;
}

/* INPUT DESKTOP*/

.footer-1desktop-heros  .part-2desktop-heros input {
    background-color: var(--primary-dark-blue);
    border-radius: 16px; 
}

.footer-1desktop-heros  .part-2desktop-heros input::placeholder{
    color: var(--primary-white);
    font-size: 1vw;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.footer-1mobile-heros   .part-2mobile-heros input {
    background-color: var(--primary-dark-blue);
    border-radius: 16px; 
    width: 100%;
    border: none;
}
.footer-1mobile-heros   .part-2mobile-heros input::placeholder {
    color: var(--primary-white);
    font-size: 3.5vw;
    opacity: 0.6;
    padding: 0;
    width: auto;
    /* Remarque : pour colorer le stroke = petite flèche bas, j'ai modifié la ligne 2424 dans bootstrap */
}
.footer-2desktop-heros {
    margin: 2% auto;
    justify-content: center;
}
@media (min-width: 576px) {
    .footer-2mobile-heros {
    display: none;
    }

}
/* INPUT RESPONSIVE */

@media (max-width: 576px) {
    .footer-1desktop-heros {
        display: none;
    }
    .footer-1mobile-heros  .part-1mobile-heros a, .footer-1mobile-heros .part-2mobile-heros a {
        text-decoration: none;
        color: var(--primary-white);
        font-size: 2.5vw;
        opacity: 0.9;
    }
    .footer-1mobile-heros   .part-2mobileheros  input {
        background-color: var(--primary-dark-blue);
        border-radius: 16px; 
        width: 80%;
    }
}

/* LOGOS */


@media (min-width: 576px) {
    .part-logomobile-heros {
        display: none;
    }
    .footer-1mobile-heros {
        display: none;
    }
    .footer-2mobile-heros {
    display: none;
    }

}


/* ICONES DE RESEAUX SOCIAUX */

.footer-2desktop-heros .rounded-circle{
    background-color: var(--primary-dark-blue);
    width: 3%;
    padding: 3px;
    margin: 0.50%;
}
@media (max-width: 576px) {
    .footer-2desktop-heros .rounded-circle {
        background-color: var(--primary-dark-blue);
        width: 36px;
        height: 32px;
        padding: 8px;
    }
}
.footer-2desktop-heros {
    margin: 2% auto;
    justify-content: center;
}
@media (min-width: 576px) {
    .footer-2mobile-heros {
    display: none;
    }

}